<div class="mb-3 mt-4 w-75 mx-auto repo-search">
    <label for="email" class="form-label text-center mx-auto w-75 mb-4 fw-bold">Enter Repository Name</label>
    <input type="email" class="form-control w-75 mx-auto" id="email" name="search" [(ngModel)]="search" (keyup)="getrepositories()">
</div>
<div class="">
    <ul class="list-group">
        <ul *ngFor="let repo of repos" class="list-group" >
            <li *ngIf="search" class="list-group-item py-5">
            <div class="row">
                <div class="repo-details col-md-4">
                    <p><strong class="me-2">Repository Name</strong><span>{{repo.name}}</span></p>
                    <img src="{{repo.owner.avatar_url}}" alt="">
                    <p><strong class="me-2">Owner</strong> <span class="text-success">{{repo.owner.login}}</span></p>
                </div>
                <div class="col-md-8">
                    <p><strong class="me-2">Created at:</strong><span>{{repo.created_at|date|daysCount}}</span></p>
                    <p class="p-5"><strong class="me-2">Description:</strong><span>{{repo.description}}</span></p>
                    <div class="text-center mb-3">
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-outline-info"><i class="fa-solid fa-code-fork me-2"></i>{{repo.forks}}</button>
                            
                            <button type="button" class="btn btn-outline-info"><i class="fa-solid fa-circle-arrow-down me-2"></i><a href={{repo.downloads_url}} target="blank">
                            </a></button>
                            
                            <button type="button" class="btn btn-outline-info"><i class="fa-solid fa-clone me-2"></i> <a href={{repo.clone_url}} target="blank">
                            </a></button>
                          </div>
                    </div>
                    <div class="text-center d-flex justify-content-around">
                        <p class="p-4 bg-warning rounded"><strong class="me-2">Watchers</strong><span>{{repo.watchers}}</span></p>
                        <p class="p-4 bg-warning rounded"><strong class="me-2">Visibility</strong><span>{{repo.visibility}}</span></p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-outline-warning" href="{{repo.html_url}}" target="blank">View Repo</a>
                    </div>
                </div>
            </div>
            </li>
        </ul>
    </ul>
    
</div>
