.profile img{
    width: 150px;
    border-radius: 50%;
}
.repo{
    background-color: green;
    color: #c4421a;
}
.followers p{
    background-color: black;
    border: none;
    padding: 0.7rem;
    border-radius: 3px;
}
.repo-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.name{
    border: 1px solid #20176a;
    background-color: white;
    
}
.btn{
    outline: #120602;
}
.btn-profile{
    outline: #c4421a;
    color: #c4421a;
}