<div class="mb-3 mt-4 w-75 mx-auto">
  <label for="email" class="form-label text-center mx-auto w-75 mb-4 fw-bold">Enter GitHub username</label>
  <input type="email" class="form-control w-75 mx-auto" id="email" name="account" [(ngModel)]="account" (keyup)="userprofiles()" (keypress)="userrepos()">
</div>

<div class="row repo" *ngIf="profiles">
  <div class="col-12 col-md-4">
    <p>
      Username: <span>{{ profiles.login }}</span>
    </p>
    <div class="profile"><img src="{{ profiles.avatar_url }}" alt="" /></div>
  </div>
  <div class="col-12 col-md-8">
    <div>
      <p *ngIf="profiles.bio">
        <strong class="me-1">Bio:</strong> <span>{{ profiles.bio }}</span>
      </p>
      <p *ngIf="profiles.email">
        <i class="fa-solid fa-envelope me-2 text-warning"></i
        ><span>{{ profiles.email }}</span>
      </p>
      <p *ngIf="profiles.location">
        <i class="fa-solid fa-location-dot me-2"></i>
        <span>{{ profiles.location }}</span>
      </p>
    </div>
    <div class="d-flex justify-content-around followers">
      <p>
        <strong class="me-1">Followers</strong
        ><span>{{ profiles.followers }}</span>
      </p>
      <p>
        <strong class="me-1">Following</strong><span>{{ profiles.following }}</span>
      </p>
      <p>
        <strong class="me-1">Gists</strong>
        <span>{{ profiles.public_gists }}</span>
      </p>
    </div>
    <div>
        <p><strong class="me-2">Public Repos</strong> <span>{{profiles.public_repos}}</span></p>
        <p><strong class="me-1">Created at:</strong> <span>{{profiles.created_at|date}}</span></p>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-danger" target="blank" href="{{profiles.html_url}}">View Profile</a>

    </div>

  </div>
</div>
<!-- User Repos section-->
<div class="repo-info">
    <div *ngFor="let repo of repos" class="name p-5">
        <h6>{{repo.name}}</h6>
        <p *ngIf="repo.description"><strong class="me-1">Repo Description</strong><span>{{repo.description}}</span></p>
        <div class="d-flex justify-content-around"> 
            <p><i class="fa-solid fa-code-fork"></i> <span>{{repo.forks}}</span></p>
            <p><strong class="me-2">Language:</strong> <span>{{repo.language}}</span></p>
        </div>
        <div>
            <a href="{{repo.html_url}}" class="btn btn-outline-danger" target="blank">View Repo</a>
        </div>
    </div>
    
</div>
